* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-gradient: linear-gradient(45deg, #F58529, #DD2A7B);
    --main-color: #8E44AD; 
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
}

b {
    color: var(--main-color);
}

.text-center {
    text-align: center;
}

#modalOverlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500;
    opacity: 0;
    transition: 4s;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    cursor: pointer;
}

.bi-bag {
    cursor: pointer;
}

.carritoCompras {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
    border: 1px solid var(--main-color);
    position: fixed;
    right: -700px;
    transition: right 0.4s ease;
    width: 500px;
    top: 0;
    overflow-y: auto;
    z-index: 2000;

    .modalHeader {
        display: flex;
        padding: 15px;
        border-bottom: 1px solid grey;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 12px;
    }

    i {
        position: absolute;
        font-size: 25px;
        color: grey;
        right: 0;
        margin-right: 15px;
    }

    .carritoVacio {
        margin-top: 20px;
        width: 90%;
        padding: 10px;
        font-size: 13px;
        border: 1px solid var(--main-color);
        border-radius: 5px;
    }
}

.carritoCompras.visible {
    right: 0;
}
.navbar.visible{
    left: 0;
}

.bi-list {
    display: none;
    width: max-content;
    font-size: 27px;
    cursor: pointer;
    color: var(--main-color);
    margin-left: 15px;

}
header {
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    align-items: center;
    height: 120px;
    transition: top .3s ease;
    width: 100%;
    height: max-content;
    flex-direction: column;
    border-bottom: 1px solid var(--main-color);

    .toplabel {
        text-align: center;
        padding: 7px;
        width: 100%;
        font-size: 12px;
        width: 100%;
        z-index: 1000;
        color: white;
        background-color: var(--main-color);
        font-family: "Nunito Sans", sans-serif;
    }

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;


        div {
            flex: 1;
            text-align: center;

            input {
                font-size: 13px;
                margin-left: 15px;
                flex: 1;
                width: 200px;
                padding: 7px;
                font-family: "Nunito Sans", sans-serif;
                outline: none;
                border: 1px solid var(--main-color);
                border-radius: 5px 0 0 5px;
                border-right: none;
                color: #000;
                height: 34px;
            }

            button {
                color: var(--main-color);
                border: none;
                padding: 10px;
                position: absolute;
                height: 34px;
                margin-top: 0;
                border: 1px solid var(--main-color);
                border-left: none;
                border-radius: 0 5px 5px 0;
                background-color: white;
                cursor: pointer;
                font-size: 13px;

            }

            

        }

        div:first-child {
            text-align: left;
        }

        .logo {
            font-size: 25px;
            font-family: 'Valken', sans-serif;
            color: var(--main-color);
            text-align: center;
            flex: 0;

            a {
                text-decoration: none;
                color: inherit;
            }

        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 15px;

            li {
                margin: 10px;
                color: var(--main-color);

                i {
                    font-size: 24px;
                }

                .bi-person {
                    font-size: 29px;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    .navbar {
        display: flex;
        width: 100%;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top: 1px solid var(--main-color);

        ul {
            list-style: none;
            display: flex;
            color: var(--main-color);
            font-weight: bold;
            font-family: "Nunito Sans", sans-serif;

            li {
                margin: 10px;
                font-size: 15px;
                padding: 5px;

                .bi-chevron-down {
                    margin-left: 3px;
                    font-size: 13px;
                    font-weight: bold;
                }

            }

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .sublist {
        display: flex;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.9s ease, height 0.6s ease;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 13px;
        background-color: var(--main-color);

        ul {
            display: flex;
            color: white;
            list-style: none;

            a {
                text-decoration: none;
                color: inherit;
                margin: 15px;
                transition: .4s;
            }

            a:hover {
                font-size: 14px;
            }
        }
    }

    .sublist.visible {
        opacity: 1;
        height: 65px;
    }

}

.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    padding: 50px;
    width: 100%;
   
    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:white;
        color: white;
        justify-content: center;
        align-items: center;
        height: 60vh;
        margin-bottom: 70px;
        background-image: url('../assets/img/banner.png'); 
        background-size: cover; 
        animation: scrollBackground 35s linear infinite;
        
        .banner-text{
            background-color: var(--main-color);
            font-weight: bold;
            text-align: center;
            padding: 10px;
            text-transform: none;
            border: 1px solid black;
            border-radius: 5px;
        }
        .cta-button {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 20px;
            background-color: #000000; 
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            transition: .4s;
        }
        
        .cta-button:hover {
            background-color: var(--main-color);
        }
    }
    .productos-destacados {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        align-items: center;
        border: 1px solid var(--main-color);
        padding: 20px;
        text-align: center; 
        flex-wrap: wrap; 

      
        h2 {
            font-size: 1.5rem;
            margin-bottom: 45px;
            color: var(--main-color); 
        }
        .productos-container {
            display: flex;
            width: 100%;
            flex-wrap: wrap; 
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            
            #verMas {
                margin-top: 45px; 
                display: block; 
                width: 100%;
                padding: 10px;
                background-color: var(--main-color);
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            
        }
        
        .producto {
            display: inline-block;
            width: 320px; 
            height: 440px; 
            margin: 15px; 
            border: 1px solid var(--main-color); 
            border-radius: 10px;
            overflow: hidden; 
            padding: 5px;

            img {
                width: 100%;
                transition: transform 0.3s ease;
                max-height: 320px; 
                object-fit: cover; 
               
            }

            .info {
                padding: 10px;
                display: flex;
                flex-direction: column;
                overflow:hidden ;
                align-items: center;
                border-top: 1px solid var(--main-color);
                
                h3 {
                    font-size: 1.3rem;
                }
                
                p {
                    font-size: 1.2rem;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                .btn {
                    background-color: var(--main-color);
                    color: white;
                    font-size: .9rem;
                    width: max-content;
                    border: none;
                    border-radius: 5px;
                    margin-top: 5px;
                    text-decoration: none;
                    padding: 5px;
                }
            }
        }      
    }
    
   
    .mensajeSaludo {
        margin-top: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 19px;
        color: var(--main-color);
    }

    .como-comprar {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;

        ol {
            margin-left: 40px;

            li {
                font-size: 15px;
                margin-left: 10px;
                margin-bottom: 15px;
            }
        }

        p {
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: bold;
            color: var(--main-color);
        }

        ul li {
            margin-left: 45px;
        }

    }

    .form-container{
        width: 100%;
        padding: 10px;
        font-family: 'Nunito Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    

        .form-group{
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            label{
                margin-top: 20px;
                font-size: 12px;
                font-weight: bold;
                color: var(--main-color);
                margin-bottom: 5px;
            }

            input{
                font-family: 'Nunito Sans';
                outline: none;
                border: 1px solid var(--main-color);
                border-radius: 5px;
                width: 100%;
                padding: 10px;
            }
            a{
                margin-top: 0;
                font-size: 12px;
                font-weight: bold;
                color: var(--main-color);
                text-decoration: none;
                align-self: flex-end
            }
            .input-container {
                display: flex;
                width: 100%;
                align-items: center;
        
                .show-password-btn {
                    margin-left: -30px;
                    margin-bottom: 6px;
                    cursor: pointer;
                    font-size: 18px;
                    color: var(--main-color);
                    text-decoration: none;
                }
            }
           
        }
        button{
            width: 45vw;
            background-color: var(--main-color);
            color: white;
            border: none;
            margin-top: 25px;
            font-size: 12px;
            border-radius: 5px;
            text-transform: uppercase;
            font-family: 'Nunito', sans-serif;
            height: 40px;
            cursor: pointer;
        }

        .form-question{
            display: flex;
            margin-top: 25px;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 100%;
            p{
                font-size: 15px;
                font-weight: 300;
                text-transform: none;
            }
            a{
                font-size: 14px;
                font-weight: bold;
                color: var(--main-color);
                text-decoration: none;
                text-transform: none;
                transition: .4s;
            }
            a :hover{
                color: #000;
            }
            
        }
       
    }
   
}


.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 370px;
    margin-top: 50px;
    background-color: var(--main-color);
    color: white;
    font-family: "Nunito Sans", sans-serif;

    .info-nosotros {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 50px;

        .redes-sociales {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: max-content;

            h5 {
                background-color: #612d77;
                padding: 20px;
                height: 60px;
                text-align: left;
            }

            div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-align: center;
                    padding: 20px;
                    color: white;
                    background-color: transparent;
                    width: 100%;
                   
                }

            }

        }

        .contacto {
            height: 185px;
            width: 50%;

            h5 {
                background-color: #612d77;
                padding: 20px;
                text-align: left;
                height: 60px;
            }

            div {

                p {
                    margin: 10px;
                }
            }

            i {
                margin-right: 10px;
            }
        }
    }

    .copyright {
        margin-top:260px;
        text-align: center;
    }
}

@keyframes scrollBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: -100% 50%; 
    }
}
@media(max-width:750px){
    .como-comprar{
        margin: 50px auto;
    }


}
@media(max-width:700px) {
    header {
        input {
            display: none;
        }
        .search-input-submit{
            display: none;
        }
        .navbar {
            display: flex;            
            flex-direction: column;   
            justify-content: flex-start;  
            background-color: white;   
            left: -700px;;
            position: fixed;                            
            width: 300px;             
            height: 100vh;
            border-right: 1px solid var(--main-color);     
            transition: left 0.4s ease;
            padding-top: 20px;     
            z-index: 3000;     

            ul{
                display: block;
                width: 80%;
                margin-top: 100px;
                li{
                    text-align: start;
                    margin-bottom: 30px;
                    font-size: 17px;
                    .sublist-responsive{
                        display: none;  
                        position: relative;   
                        left: 0;
                        margin-top: 40px;
                        margin-bottom: 0;
                        width: 100%; 
                        background-color: white;  
                    }
                    .sublist-responsive.visible{
                        display: block;
                    }
                    .sublist-responsive li a{
                        font-size: 14px;
                    }
                }
            }
        }
        .bi-list{
            display: block;
        }
        .sublist{
            display: none;
        }
      
    }
    
    .redes-sociales{
        border-right: 1px solid white;
    }
   
    .redes-sociales-iconos {
        flex-direction: column;
    }

    .redes-sociales-iconos a {
        width: 100%;
    }
    
    .form-container {
        width: 100%;
        
        form {
            width: 100%;
            
            .form-group {
                width: 100%;

                button{
                    align-self: center;
                }
            }
    
        }
    }
    
 }

@media(max-width:520px){
    .main-content{
        margin-top: 120px;
        padding: 25px;
    }
    h1{
        font-size: 16px;
        margin-bottom: 0;
       
    }
    .carritoCompras{
        width: 100%;
        height: 100%;
    }
    section{
        margin-bottom: 0;
    }

}